@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    306 South Pinewood Lane<br />
    Pensacola, FL 32507<br />
    <abbr title="Phone">P:</abbr>
    850.453.1282
    <abbr title="Fax">D:</abbr>
    850.453.8835
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:james@pattimarine.com">james@pattimarine.com</a>
</address>